<div class="main-secteion" class="sapphire" fxLayout="column" fxlaoutAlign="center center">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="New User">
            <section class="sapphire" fxLayout="column" fxlaoutAlign="space-around center">
                <img class="menu-sapphire" src="../assets/Screenshot 2022-08-23 at 2.44.11 PM.png" alt="">
                <div fxLayout="row" fxlaoutAlign="space-between end">
                    <article id="product"><img src="../assets/Screenshot 2022-08-23 at 4.10.21 PM.png" alt="Lunar 2"></article>
                    <div class="detail-div">
                        <img class="product-detail" src="../assets/Screenshot 2022-08-24 at 11.22.41 AM.png" alt="">
                        <article id="checkoutCard" class="shadow">
                            <div id="details">
                                <dl class="">
                                    <dt>Detail</dt>
                                    <dd id="thumbnail"> <img id="thumbnail" src="../assets/Screenshot 2022-08-23 at 4.42.56 PM.png" alt="Lunar 2"></dd>
                                    <dt></dt>
                                    <dd> <input type="number" value="1"> </dd>
                                    <dt></dt>
                                    <dd> Rs 1890.00 </dd>
                                </dl>
                            </div>
                        <button (click)="openDialog()" type="submit" routerLink="main-checkout" id="btnSubmit"><img src="../assets/Group 7549111.svg" alt=""></button>
                        </article>
                        <img class="product-detail" src="../assets/Screenshot 2022-08-23 at 4.12.19 PM.png" alt="">
                    </div>
                </div>
            
            </section>
    
        </mat-tab>
        <mat-tab label="Returning User" >

            <section class="elo" fxLayout="column" fxlaoutAlign="space-around center">
                <img class="menu-sapphire" src="../assets/Screenshot 2022-08-24 at 11.31.51 AM.png" alt="">
                <div fxLayout="row" fxlaoutAlign="space-between end">
                    <article id="product"><img src="../assets/Screenshot 2022-08-24 at 11.33.05 AM.png" alt="Lunar 2"></article>
                    <div class="detail-div">
                        <img class="product-detail" src="../assets/Screenshot 2022-08-24 at 11.33.48 AM.png" alt="">
                        <article id="checkoutCard" class="shadow">
                            <!-- <img class="barand-logo" src="../assets/imgbin_sapphire-clothing-fashion-brand-textile-png.png" alt=""> -->
                            <div id="details">
                                <dl class="">
                                    <dt>Detail</dt>
                                    <dd id="thumbnail"> <img id="thumbnail" src="../assets/Screenshot 2022-08-24 at 11.48.50 AM.png" alt="Lunar 2"></dd>
                                    <dt></dt>
                                    <dd> <input type="number" value="1"> </dd>
                                    <dt></dt>
                                    <dd> Rs 1099.00 </dd>
                                </dl>
                            </div>
                        <button (click)="openDialogReturning()" type="submit" routerLink="main-checkout-returning" id="btnSubmit"><img src="../assets/Group 7549111.svg" alt=""></button>
                        </article>
                        <img class="product-detail" src="../assets/Screenshot 2022-08-24 at 11.34.35 AM.png" alt="">
                    </div>
                </div>
            
            </section>
    
            
        </mat-tab>
      </mat-tab-group>
</div>







<!-- 
<section class="container">

    
    <section class="content">
        <article id="checkoutNav" class="shadow">
            <ul>
                <li>
                    <p>01</p>
                    <i class="fa fa-truck" aria-hidden="true"></i>
                    <p>Shipping</p>
                </li>
                <li class="active">
                    <p>02</p>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <p>Payment</p>
                </li>
                <li>
                    <p>03</p>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <p>Success</p>
                </li>
            </ul>
        </article>
        <article id="product" class="shadow"><img src="../assets/Rectangle 206.svg" alt="Lunar 2"></article>
        <article id="checkoutCard" class="shadow">
            <div id="details">
                <dl class="">
                    <dt>Product</dt>
                    <dd id="thumbnail"> <img id="thumbnail" src="../assets/Rectangle 206.svg" alt="Lunar 2"></dd>
                    <dt>Quantity</dt>
                    <dd> <input type="number" value="1"> </dd>
                    <dt>Price</dt>
                    <dd> $360.00 </dd>
                </dl>
            </div>
        <button (click)="openDialog()" type="submit" routerLink="" id="btnSubmit"><img src="../assets/Group 7549111.svg" alt=""></button>
        </article>
    </section>
    <footer><a href="https://edwardfury.com/nikelunar2">Photographer: Edward Fury</a><a href="https://dribbble.com/shots/2469246-Credit-Card-Checkout-Daily-UI-002" target="_blank">Designer: Nathan Riley</a><a href="https://rayhatron.github.io" target="_blank">Web developers: Rayhatron &amp; thinsoldier</a> </footer> -->
<!-- </section> -->


