*:not(#icon){
    font-family: 'Manrope', sans-serif;
}
.none{
    width: 24px;
    height: 24px;
}


#icon{
    font-size: 18px;
    color: darkgray;
    
}
button:hover{
    filter: brightness(95%);
  }
.otp{
    width: 80%;
    height: auto;
    border: 0.5px solid #E71583;
    padding: 8px 15px;
    margin-top: 43px;
}
input{
    border: none;
}
#partitioned {
    padding-left: 15px;
    letter-spacing: 25px;
    border: 0;
    /* background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%); */
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    /* width: 220px; */
    outline: none;
    font-size: 15px;
    text-align: center;
  }
  .otp-text{
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
padding-top: 21px;
padding-bottom: 68px;

  }
  .resend{

font-size: 12px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.01em;
text-align: left;
text-decoration: underline;



  }
.heading{

font-size: 14px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.main{
    /* padding: 20px 38px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
.signIn{
    border: none;
    background-color: #E71583;
    color: white;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.01em;
    border-radius: 5px;
    padding: 6px 17px;


}